body {
    margin: 0px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 16px;
}

header img {
    width: 256px;
    border: 2px solid black;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color:tomato;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.nav-links a {
    background-color: white;
    border: 1px solid black;
    border-radius: 2.5%;
    padding: 32px;
}

.nav-links a:hover {
    background-color: tomato;
    color: white;
    text-decoration: none;
}